
.export {
    .container {      
        margin: 0px auto;    
        text-align: center;  
      }
      .hideTbl{
          display: none;
      }
      .downloadxlsbutton{
        background-color: #0078d7;
        border-color: #0078d7;
        font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        box-shadow: none;        
        color:white;
        cursor: pointer;
        display: inline-block;
        height: 32px;
        min-width: 80px;
        padding: 4px 20px 6px;

      }
    
}